body{
    background-color: red;
    color: wheat;
}

h1{
    color: gold;
    margin-top: -10px;
    margin-left: 15px;
}

img{
    height:180px;
    width: 190px;
    padding: 5px;
    border-radius: 20px;
}

